@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Impact';
  src: url('/impact/impact.woff') format(woff);
  font-weight: 1 999;
  font-style: normal
}

body {
  color: white;
  background: black;
  font-family: Impact, sans-serif;
}